{% extends 'base.html' %}

{% block css %}
    <style>
        #div_digg {
            float: right;
            margin-bottom: 10px;
            margin-right: 30px;
            font-size: 12px;
            width: 125px;
            text-align: center;
            margin-top: 10px;
        }

        .diggit {
            float: left;
            width: 46px;
            height: 52px;
            background: url('/static/img/upup.gif') no-repeat;
            text-align: center;
            cursor: pointer;
            margin-top: 2px;
            padding-top: 5px;
        }

        .buryit {
            float: right;
            margin-left: 20px;
            width: 46px;
            height: 52px;
            background: url('/static/img/downdown.gif') no-repeat;
            text-align: center;
            cursor: pointer;
            margin-top: 2px;
            padding-top: 5px;
        }

        .clear {
            clear: both;
        }
    </style>

{% endblock %}

{% block content %}
    <h1>{{ article_obj.title }}</h1>
    <div class="article_content">
        {{ article_obj.content|safe }}
    </div>

    <!-- {# 点赞点踩开始 #} -->
    <div class="clearfix">
        <div id="div_digg">
            <!-- {#<div class="diggit" onclick="votePost(15416928,'Digg')">#} -->
            <div class="diggit action">
                <span class="diggnum" id="digg_count">{{ article_obj.up_num }}</span>
            </div>
            <div class="buryit action">
                <span class="burynum" id="bury_count">{{ article_obj.down_num }}</span>
            </div>
            <div class="clear"></div>
            <div class="diggword" id="digg_tips" style="color: red">
            </div>
        </div>
    </div>
    <!-- {# 点赞点踩结束 #}

    {# 评论楼 #} -->
    <div>
        <ul class="list-group">
            {% for comment in content_list %}
                <li class="list-group-item">
                    <!-- {#计算for循环次数#} -->
                    <span>#{{ forloop.counter }}楼</span>
                    <!-- {#<span>{{ comment.comment_time|data:"Y-m-d h-i-s" }}</span>#} -->
                    <a href="/{{comment.user.username}}/"><span> {{ comment.user.username }}</span></a>
                    <span><a class="pull-right reply" username="{{ comment.user.username }}" comment_id="{{ comment.pk }}">回复</a></span>
                    <div>
                        <!-- {# 判断是否是子评论 #} -->
                        {% if comment.parent_id %}
                        <a href="/{{ comment.parent.user.username }}/"><span> @{{ comment.parent.user.username }}</span></a>
                        {% endif %} 
                        <span>
                            {{ comment.content }}
                        </span>
                            
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <!-- {# 发表评论 #} -->
    {% if request.user.is_authenticated %}
        <div>
            <p><span class="glyphicon glyphicon-comment">发表评论</span></p>
            <div>
                <textarea name="comment" id="id_comment" cols="60" rows="10"></textarea>
            </div>
            <button class="btn btn-primary" id="id_submit">提交评论</button>
            <span style="color: red" id="error"></span>
        </div>
    {% endif %}

{% endblock %}

{% block js %}
        <!-- 给所有的action类绑定事件 -->
    <script>
        //给所有的action类绑定事件
        $('.action').click(function () {
            let isUp = $(this).hasClass('diggit')
            //alert(isUp)
            let cur_span = $(this).children('span')
            $.ajax({
                url: '/up_or_down/',
                type: 'post',
                data: {
                    'article_id': '{{article_obj.pk}}',
                    'is_up': isUp,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (args) {
                    // 成功点赞/踩
                    if (args.code == 1000) {
                        $('#digg_tips').text(args.msg)
                        // 网页不会被刷新--使点赞/踩数静态+1
                        cur_span.text(Number(cur_span.text()) + 1)
                    }
                    // 无法点赞/踩--输出错误信息
                    else {
                        $('#digg_tips').html(args.msg)
                    }
                }

            })
        })

        // 是否为子评论
        let parentId = null
        // 提交评论
        $('#id_submit').click(function () {
            //获取评论的内容
            let conTent = $('#id_comment').val();
            //判断当前评论是根评论还是子评论
            if(parentId){
                //找到 \n 对应的索引
                let indexNum = conTent.indexOf(':')+1
                conTent = conTent.slice(indexNum)
            }
            $.ajax({
                url: "/comment/",
                type: "post",
                data: {
                    'article_id': '{{ article_obj.pk }}',
                    'content': conTent,
                    'parent_id':parentId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (args) {
                    // 评论成功
                    if (args.code == 1000) {
                        $('#error').text(args.msg)
                        //将评论框的内容清空
                        $('#id_comment').val('')

                        {#//静态临时渲染评论楼#}
                        {#let username = '{{ request.user.username }}';#}
                        {#let temp = `#}
                        {# <li class="list-group-item">#}
                        {#    <span>${username}</span>#}
                        {#    <span><a href="#" class="pull-right">回复</a></span>#}
                        {#    <div>#}
                        {#        ${args.pname}${conTent}#}
                        {#    </div>#}
                        {#    </li>#}
                        {#`#}
                        {#$('.list-group').append(temp)#}
                        window.setTimeout(function ()
                        {
                        window.location.reload()
                        },500)

                    }
                }
            })
        })

        // 回复
        $('.reply').click(function (args) {
            //需要评论对应评论人的名称   需要评论的主键值
            //获取用户名
            let commentUsername = $(this).attr('username')
            //获取主键值
            parentId = $(this).attr('comment_id')
            //拼接信息塞到评论框
            $('#id_comment').val('@' + commentUsername + ':').focus()

        })

    </script>

{% endblock %}
