<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initail-scale=1">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% load static %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">登录</h1>
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" name="username" id="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="username">验证码</label>
                <div class="row">
                    <div class='col-md-6'>
                        <input type="text" name="code" id="id_code", class="form-control">
                    </div>
                    <div class='col-md-6'>
                        <img src="/get_code/" alt='' width="380" height="35" class="pull-left" id="id_img">
                    </div>
<!-- {#                    <div class="row">#}
{#                        <div class="col-md-6"> City </div>#}
{#                        <div class="col-md-6">country</div>#}
{#                    </div>#} -->
                </div>

            </div>
            <input type="button" class="btn btn-success" value="登录" id="id_commit">
            <span style="color: red" id="error" width="380" height="35"></span>
        </div>
    </div>
</div>
<script>
    //点击图片刷新--更新地址实现刷新
    $('#id_img').click(function () {
        // let oldVal = $(this).attr('src')
        // $(this).attr('src',oldVal += '?')
        $('#id_img')[0].src+='?'
    })
    //点击按钮发送ajax请求
    $("#id_commit").click(function () {
        $.ajax({
            'url':'',
            'type':'post',
            'data':{
                'username':$('#username').val(),
                'password':$('#password').val(),
                'code':$('#id_code').val(),
                'csrfmiddlewaretoken':'{{ csrf_token }}'
            },
            success:function (args) {
                //登录成功--跳转到首页
                if (args.code == 1000){
                window.location.href = args.url
                }
                else{
                    //渲染错误信息
                    $('#error').text(args.msg)

                }
            }
        })

    })


</script>
</body>
</html>