{% extends 'backend/base.html' %}

{% block article %}
    <!-- {# 接收当前用户的所有文章 #}
    {# 标题 发布状态 评论数 阅读数 操作 操作 #} -->
    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th>标题</th>
            <th>评论数</th>
            <th>点赞数</th>
            <th>操作</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for article in article_list %}
            <tr>
                <td><a href="/{{ request.user.username }}/article/{{ article.pk }}/">{{ article.title }}</a></td>
                <td>{{ article.comment_num }}</td>
                <td>{{ article.up_num }}</td>
                <td><a href="">编辑</a></td>
                <td><a href="/delete/article/?nid={{ article.id }}">删除</a></td>#新增
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}